/* ================================= 
  Base Element Styles
==================================== */

*{
    box-sizing: border-box; /*containers take up exactly 70% and max width will be 1000px*/
}
.name {
    margin: 0; 
} 
body {
	line-height: 1.6;
	color: #3a3a3a;

}

h1{
    margin-top: 0;
}
a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container{
    padding-left: 1em;
    padding-right: 1em;
  }

.main-header {
    text-align:center;
	background: #3acec2;
}

.main-footer {
    text-align: center;
    padding: 2em 0;
	background: #d9e4ea;
}

/* ---- Page Elements ---- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px){
    .wrap{
        min-height: calc(100vh-89px); /* min height will be 100% of viewport height - footer height */
    }
    
    .container{
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
      }

}